/PrimeiroProjetoJSF/nbproject/private/
/PrimeiroProjetoJSF/build/
/CicloVidaMB/nbproject/private/
/CicloVidaMB/build/
/Navagacao/nbproject/private/
/Navagacao/build/
/ScarGames/build/
/Agenda/nbproject/private/
/ScarGames/dist/
/AtividadeAvaliativaTopicosEspeciais2019/nbproject/private/
/Trabalho2/nbproject/private/